/* line 1, ../sass/_grids.scss */
.pure-g {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
}

/* line 1, ../sass/_grids.scss */
.opera-only :-o-prefocus, .pure-g {
  word-spacing: -0.43em;
}

/* line 1, ../sass/_grids.scss */
.pure-u {
  display: inline-block;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

/* line 1, ../sass/_grids.scss */
.pure-u-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-7, .pure-u-2-7, .pure-u-3-7, .pure-u-4-7, .pure-u-5-7, .pure-u-6-7, .pure-u-1-8, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-9, .pure-u-2-9, .pure-u-4-9, .pure-u-5-9, .pure-u-6-9, .pure-u-7-9, .pure-u-8-9, .pure-u-1-10, .pure-u-3-10, .pure-u-7-10, .pure-u-9-10, .pure-u-1-11, .pure-u-2-11, .pure-u-3-11, .pure-u-4-11, .pure-u-5-11, .pure-u-6-11, .pure-u-7-11, .pure-u-8-11, .pure-u-9-11, .pure-u-10-11, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-9-12, .pure-u-11-12 {
  display: inline-block;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

/* line 1, ../sass/_grids.scss */
.pure-u-1 {
  display: block;
}

/* line 1, ../sass/_grids.scss */
.pure-u-1-2 {
  width: 50%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-1-2 {
  margin-left: 50%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-1-3 {
  width: 33.33333%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-1-3 {
  margin-left: 33.33333%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-2-3 {
  width: 66.66667%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-2-3 {
  margin-left: 66.66667%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-1-4 {
  width: 25%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-1-4 {
  margin-left: 25%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-3-4 {
  width: 75%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-3-4 {
  margin-left: 75%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-1-5 {
  width: 20%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-1-5 {
  margin-left: 20%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-2-5 {
  width: 40%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-2-5 {
  margin-left: 40%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-3-5 {
  width: 60%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-3-5 {
  margin-left: 60%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-4-5 {
  width: 80%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-4-5 {
  margin-left: 80%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-1-6 {
  width: 16.66667%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-1-6 {
  margin-left: 16.66667%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-5-6 {
  width: 83.33333%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-5-6 {
  margin-left: 83.33333%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-1-7 {
  width: 14.28571%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-1-7 {
  margin-left: 14.28571%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-2-7 {
  width: 28.57143%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-2-7 {
  margin-left: 28.57143%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-3-7 {
  width: 42.85714%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-3-7 {
  margin-left: 42.85714%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-4-7 {
  width: 57.14286%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-4-7 {
  margin-left: 57.14286%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-5-7 {
  width: 71.42857%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-5-7 {
  margin-left: 71.42857%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-6-7 {
  width: 85.71429%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-6-7 {
  margin-left: 85.71429%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-1-8 {
  width: 12.5%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-1-8 {
  margin-left: 12.5%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-3-8 {
  width: 37.5%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-3-8 {
  margin-left: 37.5%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-5-8 {
  width: 62.5%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-5-8 {
  margin-left: 62.5%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-7-8 {
  width: 87.5%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-7-8 {
  margin-left: 87.5%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-1-9 {
  width: 11.11111%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-1-9 {
  margin-left: 11.11111%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-2-9 {
  width: 22.22222%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-2-9 {
  margin-left: 22.22222%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-4-9 {
  width: 44.44444%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-4-9 {
  margin-left: 44.44444%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-5-9 {
  width: 55.55556%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-5-9 {
  margin-left: 55.55556%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-6-9 {
  width: 66.66667%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-6-9 {
  margin-left: 66.66667%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-7-9 {
  width: 77.77778%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-7-9 {
  margin-left: 77.77778%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-8-9 {
  width: 88.88889%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-8-9 {
  margin-left: 88.88889%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-1-10 {
  width: 10%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-1-10 {
  margin-left: 10%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-3-10 {
  width: 30%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-3-10 {
  margin-left: 30%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-7-10 {
  width: 70%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-7-10 {
  margin-left: 70%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-9-10 {
  width: 90%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-9-10 {
  margin-left: 90%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-1-11 {
  width: 9.09091%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-1-11 {
  margin-left: 9.09091%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-2-11 {
  width: 18.18182%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-2-11 {
  margin-left: 18.18182%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-3-11 {
  width: 27.27273%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-3-11 {
  margin-left: 27.27273%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-4-11 {
  width: 36.36364%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-4-11 {
  margin-left: 36.36364%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-5-11 {
  width: 45.45455%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-5-11 {
  margin-left: 45.45455%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-6-11 {
  width: 54.54545%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-6-11 {
  margin-left: 54.54545%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-7-11 {
  width: 63.63636%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-7-11 {
  margin-left: 63.63636%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-8-11 {
  width: 72.72727%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-8-11 {
  margin-left: 72.72727%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-9-11 {
  width: 81.81818%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-9-11 {
  margin-left: 81.81818%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-10-11 {
  width: 90.90909%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-10-11 {
  margin-left: 90.90909%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-1-12 {
  width: 8.33333%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-1-12 {
  margin-left: 8.33333%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-5-12 {
  width: 41.66667%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-5-12 {
  margin-left: 41.66667%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-7-12 {
  width: 58.33333%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-7-12 {
  margin-left: 58.33333%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-9-12 {
  width: 75%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-9-12 {
  margin-left: 75%;
}

/* line 1, ../sass/_grids.scss */
.pure-u-11-12 {
  width: 91.66667%;
}

/* line 1, ../sass/_grids.scss */
.pure-offset-11-12 {
  margin-left: 91.66667%;
}

/* line 17, ../../../../../../.rvm/gems/ruby-head@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-head@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-head@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-head@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-head@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-head@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-head@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-head@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-head@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_base.scss */
body {
  font-size: 62.5%;
  line-height: 20px;
}

/*
 * Colors
 */
/*
 * Sizes and Measures
 */
/* line 4, ../sass/_layout.scss */
#main-header {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
}

/* line 13, ../sass/_layout.scss */
#main-section {
  height: 100%;
  margin-top: 45px;
  margin-left: 5px;
}

/* line 18, ../sass/_layout.scss */
.img_container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: auto;
}
/* line 22, ../sass/_layout.scss */
.img_container img {
  width: 250px;
  height: 160px;
  border-style: solid;
  border-color: #2F2F33;
  border-width: 2px;
}
/* line 31, ../sass/_layout.scss */
.img_container td {
  padding-right: 5px;
  vertical-align: top;
}

/*
 * Colors
 */
/*
 * Sizes and Measures
 */
/* line 5, ../sass/_theme.scss */
body {
  background-color: #18181a;
  color: #afafb5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 11, ../sass/_theme.scss */
#main-header {
  background-color: #242427;
}
