/*
 * Colors
 */
$bg_color       : #18181A;
$font_color     : #AFAFB5;
$header_color   : #242427;

/*
 * Sizes and Measures
 */
$header_height  : 40px;
$l_col_width    : 255px;

$l_img_width    : $l_col_width - 5;
$l_img_height   : $l_img_width - 90;


